body, html {
  margin: 0;
  padding: 0;
  background-color: #fefcfb;
  font-family: 'DM Sans', sans-serif;
}

/* Navbar Styles */
.navbar {
  background: #0a1128; 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  font-family: 'Gruppo', sans-serif; /* Apply Gruppo font to the entire navbar */
  font-weight: bold;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#nav__logo {
  background-color: #fefcfb;
  background-image: linear-gradient(to top, #034078 0%, #1282a2 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  font-family: 'Gruppo', sans-serif;
  color: #fefcfb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

/* Dropdown Menu */
.dropdown__menu {
  display: none;
  position: relative;
  background-color: #0a1128;
  min-width: 160px;
}

/* Remove bullets from dropdown menu */
.dropdown__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Links in the Dropdown */
.dropdown__menu .dropdown__links {
  color: #fefcfb;
  font-family: 'Gruppo', sans-serif;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change background color on hover */
.dropdown__menu .dropdown__links:hover {
  background-color: #001f54;
}

/* Show the dropdown menu on hover */
.navbar__item.dropdown:hover .dropdown__menu {
  display: block;
}

.navbar__btn {
  font-family: 'Gruppo', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #0a1128; 
  color: #fefcfb; 
}

.button:hover {
  background: #034078; 
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #034078; /* Black text */
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content:center;
    height: 60px;
    z-index: 1;
    width: auto;
    max-width: 1300px;
  }

  .navbar__btn {
    box-align: "center";
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #0a1128;
  }

  .navbar__menu.active {
    background: #0a1128;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 50;
    height: 50vh;
    font-size: 1.6rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fefcfb;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translate(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translate(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .main__container, .main__container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .main__content, .main__content2 {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content2 img {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  .main__content2 h3 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content2 h4 {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content2 h3 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content2 h4 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__content p {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 3rem;
  background-color: #fefcfb;
  background-image: linear-gradient(to top, #034078 0%, #1282a2 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
}

th, td {
  border: 1px solid #e1e5f2;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #001f54;
  background-image: linear-gradient(to right, #034078, #1282a2);
  color: white;
  font-family: 'Gruppo', sans-serif;
  font-size: 1.2rem;
}

tr {
  background-color: #fefcfb;
}

tr:hover {
  background-color: #fefcfb;
}

.drug {
  font-weight: bold;
  color: #001f54;
}

.use ul, .precaution ul, .side-effect ul {
  list-style-type: none; 
  padding-left: 0; 
}

.use ul li, .precaution ul li, .side-effect ul li {
  padding: 5px 0;
}

strong {
  color: #001f54;
}

